*{
    padding: 0px;
    margin: 0px;
}
.outer{
    width: 900px;
    height: 1090px;
    border:solid black;
    margin: 0px auto;
    background-image: url(./backgroundImage.jpg);
}
.outer h1{
   text-align: center;
}
.border{
    width: 95%;
    padding: 5px;
    background-color: blueviolet;
    border: solid black;
    font-weight: bold;
}
ul{
    font-size: 18px;
    margin: 20px;
}
h2{
    float:right
    
}
